.logo-navbar {
    max-height: 90px;
    max-width: 300px;
}

.favorite-img {
    width: 100px;
    height: 100px;
}

.custom-card:hover {
    transform: translateY(-4px);
    border-color: black;
}

